<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Credits</title>
</head>

<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" style="background-color: rgb(103, 0, 129);" href="/">HOME</a>
            <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            NAVIGATION
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/charts">Charts</a>
                            <a class="dropdown-item" href="/randomforest">Random Forest</a>
                            <a class="dropdown-item" href="/rfmodel">Random Forest Model</a>
                            <a class="dropdown-item" href="/data">Data</a>
                            <a class="dropdown-item" href="/credits">Credits</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/credits">CREDITS</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Credits</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card text-white bg-dark mb-3" style="width: 50rem;">
                    <img class="card-img-top" src="https://avatars1.githubusercontent.com/u/58890965?s=400&u=d8f14bfbd148550ec0428e13938c26a1091ba880&v=4" alt="Card image cap">
                    <div class="card-body-credit">
                      <h4 class="card-title">Jon Wolgamott</h4>
                      <p class="card-text">Contribution to Project:</p>
                      <p class="card-text">Machine Learning, Python, Neural Network, Model Building, Data Collection</p>
                      <a href="https://github.com/wonderbug2020" class="btn btn-primary">Jon's GitHub Profile</a>
                      <a href="https://www.linkedin.com/in/jon-wolgamott/" class="btn btn-primary">Jon's LinkedIn Profile</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card text-white bg-dark mb-3" style="width: 50rem;">
                    <img class="card-img-top" src="https://media-exp1.licdn.com/dms/image/C5603AQFSPX-HWHWjyg/profile-displayphoto-shrink_200_200/0?e=1603324800&v=beta&t=ndHHHVFlMcUza4BVuSvfmiVyrt60XtaRNh8Q8lxjfXM" alt="Card image cap">
                    <div class="card-body-credit">
                      <h4 class="card-title">David Tracy</h4>
                      <p class="card-text">Contribution to Project:</p>
                      <p class="card-text">Tableau, Python, Data Collection</p>
                      <a href="https://github.com/davidtracy6984" class="btn btn-primary">David's GitHub Profile</a>
                      <a href="https://www.linkedin.com/in/david-tracy-88675643/" class="btn btn-primary">David's LinkedIn Profile</a>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card text-white bg-dark mb-3" style="width: 50rem">
                    <img class="card-img-top" src="https://avatars2.githubusercontent.com/u/61341968?s=400&u=cf4de5f01547d2d51cc0c95800f14d66a8576436&v=4" alt="Card image cap">
                    <div class="card-body-credit">
                      <h4 class="card-title">Travis Christensen</h4>
                      <p class="card-text">Contribution to Project:</p>
                      <p class="card-text">HTML/Bootstrap/CSS, Python, MongoDB Atlas, Heroku, Data Collection</p>
                      <a href="https://github.com/TravisDC5" class="btn btn-primary">Travis' GitHub Profile</a>
                      <a href="https://www.linkedin.com/in/travis5/" class="btn btn-primary">Travis' LinkedIn Profile</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer> Pulsar 2020 - David, Jon, and Travis </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>