<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <title>Data</title>
</head>

<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" style="background-color: rgb(103, 0, 129);" href="/">HOME</a>
            <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            NAVIGATION
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/charts">Charts</a>
                          <a class="dropdown-item" href="/nnet">Neural Network</a>
                          <a class="dropdown-item" href="/rfmodel">Random Forest Model</a>
                          <a class="dropdown-item" href="/roc">ROC Chart</a>
                          <a class="dropdown-item" href="/data">Data</a>
                          <a class="dropdown-item" href="/credits">Credits</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/credits">CREDITS</a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Data Used</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="width: max-content;">
                    <div class="card-body-dat">
                      <h5 class="card-title">Legend</h5>
                      <p class="card-text">
                        <b>1.</b> Mean of the integrated profile. <br>
                        <b>2.</b> Standard deviation of the integrated profile. <br>
                        <b>3.</b> Excess kurtosis of the integrated profile. <br>
                        <b>4.</b> Skewness of the integrated profile. <br>
                        <b>5.</b> Mean of the DM-SNR curve. <br>
                        <b>6.</b> Standard deviation of the DM-SNR curve. <br>
                        <b>7.</b> Excess kurtosis of the DM-SNR curve. <br>
                        <b>8.</b> Skewness of the DM-SNR curve. <br>
                        <b>9.</b> Class</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="width: max-content;">
                    <div class="card-body-dat">
                        <div class="card-text">
                            <p>
                                <table border="1" class="dataframe">
                                    <thead>
                                      <tr style="text-align: right;">
                                        <th></th>
                                        <th>1</th>
                                        <th>2</th>
                                        <th>3</th>
                                        <th>4</th>
                                        <th>5</th>
                                        <th>6</th>
                                        <th>7</th>
                                        <th>8</th>
                                        <th>9</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th>4084</th>
                                        <td>82.820312</td>
                                        <td>33.024951</td>
                                        <td>1.701452</td>
                                        <td>7.984340</td>
                                        <td>19.735786</td>
                                        <td>51.849461</td>
                                        <td>2.679095</td>
                                        <td>6.209273</td>
                                        <td>1</td>
                                      </tr>
                                      <tr>
                                        <th>4085</th>
                                        <td>95.062500</td>
                                        <td>41.580259</td>
                                        <td>0.884304</td>
                                        <td>2.452734</td>
                                        <td>5.176421</td>
                                        <td>30.123072</td>
                                        <td>6.151957</td>
                                        <td>37.827919</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4086</th>
                                        <td>75.101562</td>
                                        <td>35.119181</td>
                                        <td>2.198114</td>
                                        <td>8.981401</td>
                                        <td>20.894649</td>
                                        <td>54.023814</td>
                                        <td>2.580942</td>
                                        <td>5.568507</td>
                                        <td>1</td>
                                      </tr>
                                      <tr>
                                        <th>4087</th>
                                        <td>107.156250</td>
                                        <td>41.942564</td>
                                        <td>0.306397</td>
                                        <td>0.806955</td>
                                        <td>4.339465</td>
                                        <td>18.654941</td>
                                        <td>6.274235</td>
                                        <td>52.138859</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4088</th>
                                        <td>155.585938</td>
                                        <td>53.813702</td>
                                        <td>-0.550203</td>
                                        <td>-0.129972</td>
                                        <td>9.605351</td>
                                        <td>35.523247</td>
                                        <td>3.906519</td>
                                        <td>14.968113</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4089</th>
                                        <td>129.460938</td>
                                        <td>52.035730</td>
                                        <td>-0.177867</td>
                                        <td>-0.101137</td>
                                        <td>3.836120</td>
                                        <td>25.154437</td>
                                        <td>7.169651</td>
                                        <td>52.487488</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4090</th>
                                        <td>119.296875</td>
                                        <td>55.801876</td>
                                        <td>0.763564</td>
                                        <td>-0.190084</td>
                                        <td>48.878763</td>
                                        <td>56.342133</td>
                                        <td>1.792955</td>
                                        <td>3.604096</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4091</th>
                                        <td>139.421875</td>
                                        <td>46.898429</td>
                                        <td>0.143530</td>
                                        <td>0.301616</td>
                                        <td>31.553512</td>
                                        <td>67.983617</td>
                                        <td>1.810145</td>
                                        <td>1.531961</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4092</th>
                                        <td>38.484375</td>
                                        <td>42.755479</td>
                                        <td>3.590710</td>
                                        <td>13.663442</td>
                                        <td>89.382943</td>
                                        <td>65.784910</td>
                                        <td>1.010051</td>
                                        <td>-0.050717</td>
                                        <td>1</td>
                                      </tr>
                                      <tr>
                                        <th>4093</th>
                                        <td>138.562500</td>
                                        <td>59.818704</td>
                                        <td>-0.397284</td>
                                        <td>-0.643033</td>
                                        <td>9.247492</td>
                                        <td>34.267792</td>
                                        <td>3.797720</td>
                                        <td>13.922234</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4094</th>
                                        <td>122.242188</td>
                                        <td>51.864569</td>
                                        <td>0.259834</td>
                                        <td>-0.284581</td>
                                        <td>2.143813</td>
                                        <td>18.479838</td>
                                        <td>9.488985</td>
                                        <td>96.485903</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4095</th>
                                        <td>107.742188</td>
                                        <td>44.625743</td>
                                        <td>0.420161</td>
                                        <td>0.627739</td>
                                        <td>4.581940</td>
                                        <td>25.801775</td>
                                        <td>6.402915</td>
                                        <td>43.105561</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4096</th>
                                        <td>100.609375</td>
                                        <td>49.557926</td>
                                        <td>0.410835</td>
                                        <td>-0.022671</td>
                                        <td>5.913880</td>
                                        <td>33.163527</td>
                                        <td>5.934140</td>
                                        <td>35.065274</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4097</th>
                                        <td>98.359375</td>
                                        <td>42.515941</td>
                                        <td>1.101357</td>
                                        <td>2.015417</td>
                                        <td>13.989130</td>
                                        <td>48.571370</td>
                                        <td>3.560791</td>
                                        <td>11.610262</td>
                                        <td>1</td>
                                      </tr>
                                      <tr>
                                        <th>4098</th>
                                        <td>116.640625</td>
                                        <td>41.981531</td>
                                        <td>0.095855</td>
                                        <td>0.297926</td>
                                        <td>2.970736</td>
                                        <td>16.561832</td>
                                        <td>8.186273</td>
                                        <td>83.292713</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4099</th>
                                        <td>113.007812</td>
                                        <td>47.799140</td>
                                        <td>0.128611</td>
                                        <td>0.162648</td>
                                        <td>1.494147</td>
                                        <td>14.152093</td>
                                        <td>12.464197</td>
                                        <td>182.412189</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4100</th>
                                        <td>128.132812</td>
                                        <td>47.327874</td>
                                        <td>0.297771</td>
                                        <td>0.210071</td>
                                        <td>6.716555</td>
                                        <td>34.377319</td>
                                        <td>5.168086</td>
                                        <td>25.732111</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4101</th>
                                        <td>124.710938</td>
                                        <td>49.298699</td>
                                        <td>0.100666</td>
                                        <td>0.023519</td>
                                        <td>3.821070</td>
                                        <td>20.684517</td>
                                        <td>6.982035</td>
                                        <td>55.245303</td>
                                        <td>0</td>
                                      </tr>
                                      <tr>
                                        <th>4102</th>
                                        <td>56.093750</td>
                                        <td>37.823694</td>
                                        <td>2.441646</td>
                                        <td>9.562797</td>
                                        <td>9.288462</td>
                                        <td>39.606567</td>
                                        <td>4.651451</td>
                                        <td>21.283554</td>
                                        <td>1</td>
                                      </tr>
                                      <tr>
                                        <th>4103</th>
                                        <td>129.851562</td>
                                        <td>51.117373</td>
                                        <td>-0.083269</td>
                                        <td>-0.246572</td>
                                        <td>4.867893</td>
                                        <td>26.030840</td>
                                        <td>6.520077</td>
                                        <td>45.846410</td>
                                        <td>0</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </p>
                        </div>
                    <div>
                </div>        
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer> Pulsar 2020 - David, Jon, and Travis </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>