<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="styles/style.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

    <title>Pulsar</title>
</head>

<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-sm">
            <a class="navbar-brand" style="background-color: rgb(103, 0, 129);" href="/">HOME</a>
            <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            NAVIGATION
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/charts">Charts</a>
                            <a class="dropdown-item" href="/nnet">Neural Network</a>
                            <a class="dropdown-item" href="/rfmodel">Random Forest Model</a>
                            <a class="dropdown-item" href="/roc">ROC Chart</a>
                            <a class="dropdown-item" href="/data">Data</a>
                            <a class="dropdown-item" href="/credits">Credits</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/credits">CREDITS</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Pulsar</h1>
            <p class="lead">A celestial object, thought to be a rapidly rotating neutron star, that emits regular pulses
                of radio waves and other electromagnetic radiation at rates of up to one thousand pulses per second.</p>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-lg-center">
            <div class="row">
                <div class="card text-white bg-dark mb-3" style="max-width: 992px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>Why are scientists interested in Pulsars?</b><br>
                                <ul>
                                    <li>Extreme states of matter</li>
                                    <li>Search for planets beyond our solar system</li>
                                    <li>Measure cosmic distances</li>
                                    <li>Forecast cosmic events with gravitational waves</li>
                                    <ul>
                                        <li>Detect supermassive black hole collisions</li>
                                    </ul>
                                </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <img src="{{ url_for('static',filename='images/Pulsar2-600.jpg') }}" class="card-img-main"
                                alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="card text-white bg-dark mb-3" style="max-width: 992px;">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <img src="{{ url_for('static',filename='images/jocelyn.jpg') }}" class="card-img-main" alt="Card image cap">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <p class="card-text">
                                    <b>First Pulsar Discovery</b><br>
                                <ul>
                                    <li>Jocyelyn Bell and Anthony Hewish in 1967</li>
                                    <li>Jocelyn Bell noticed small pulses of radiation at a specific position</li>
                                    <ul>
                                        <li>Thought it might be another civilization</li>
                                        <li>Named the pulses LGM1</li>
                                        <ul>
                                            <li>Little Green Men 1</li>
                                        </ul>
                                    </ul>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card text-white bg-dark mb-3" style="max-width: 992px;">
                        <img class="card-img-main" src="{{ url_for('static',filename='images/LargeArray-600.jpg') }}"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">
                                <b>First discovered as radio sources, they are now observed using optical</b><br>
                            <ul>
                                <li>X-Ray Telescopes</li>
                                <li>Gamma Ray Telescopes</li>
                                <li>Images in FITS (flexible image transport system) format</li>
                                <ul>
                                    <li>Multi-Dimensional Arrays</li>
                                    <li>2D and 3D with an ASCII header</li>
                                </ul>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer> Pulsar 2020 - David, Jon, and Travis </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>